*/.snakemake/
#grist/.snakemake/
grist/genbank_cache/
grist/*.zip
#grist/jobs/
grist/outputs*/
assembly/*megahit*
assembly/*gz
assembly/*sig
#assembly/.snakemake/
subtract/test*/
subtract/*csv
subtract/.snakemake/
subtract/*fa
subtract/*fq.gz
subtract/*bam
subtract/*megahit*
subtract/*bai
amta/*fq.gz
amta/*bam
amta/*bai
amta/*csv
amta/.snakemake/
amta/*.tsv

human/*
git1/*
